@charset "utf-8";

h2{
  font-size: 3em;
  font-weight: bold;
}
.title{
  margin: 94px 0 32px;
}
dl dt{
  float: left;
  clear: both;
}
.company{
  line-height: 38px;
  width: 420px;
}
.company dt{
  color: #fbdab8;
}
.company dd{
  padding-left: 140px;
}
.company dt,.company dd{
  border-bottom: 1px solid #f1f6f9;
  box-sizing: border-box;
  white-space: nowrap;
}
.company{
  padding-top: 90px;
}
.member{
  margin: 100px 0 30px;
}
.box{
  position: relative;
}
.frame{
  /* 縦横がっちり固定 */
  width: 75vw; 
  /* 固定した幅からはみ出たものは隠してしまう */
  overflow: hidden;
}
/* 画像スケール */
.frame img{
  width: 75vw;
  /* ヌルッと動くように */
  transition: 0.3s;
  margin-bottom: 20vh;
}
/* ボバー時のアクション */
.frame :hover,.zoom :hover{
  /* transformは変形プロパティ。値にscaleを指定すると拡大縮小することができる。 */
  transform: scale(1.1);
  /*ホバーでグレーにする */
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1); 
  transition-duration: 1s;
}
.frame2{
  display: none;
}
.text{
  color: #4b55a1;
  line-height: 28px;
  position: absolute;
  left: 63%;
  top: 42%;
  padding: 30px;
  background-color: rgba(241, 246, 249, .6);
  white-space: nowrap;
  z-index: 100;
}
.text dt{
  font-weight: bold;
}
.text dd{
  padding-left: 120px;
}
.bold{
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
}
.more{
  display: none;
}
.name{
  margin-bottom: 16px;
}
.button{
  color:  #4b55a1;
  background-color: #f1f6f9;
  width: 340px;
  box-sizing: border-box;
  padding: 35px 108px;
  position: absolute;
  top: 20%;
  left: 37%;
  z-index: 100;
}
.more{
  display: none;
}
.list img{
  width: 295px;
}
.advisor{
  margin-bottom: 30px;
}
.bottom{
  color:  #4b55a1;
  background-color: #f1f6f9;
  width: 295px;
  box-sizing: border-box;
  padding: 25px 0 25px 35px;
  margin-bottom: 100px;
}
.zoom{
  /* 縦横がっちり固定 */
  width: 295px; 
  height: 478px;
  /* 固定した幅からはみ出たものは隠してしまう */
  overflow: hidden;
}
/* 画像スケール */
.zoom img{
  width: 295px; 
  height: 478px;
  /* ヌルッと動くように */
  transition: 0.3s;
}
/*アニメーション要素のスタイル*/
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(40px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
#slide{
  display: none;
}

@media screen and (max-width: 768px){

  img{
    max-width: 100%;
    height: auto;
  }
  .inner,.company,.frame,.frame img.content,.list,.bottom,.zoom,.zoom img,.button{
    width: auto;
  }
  .flex{
    display: block;
  }
  .company dt{
    float: none;
    border: none;
  }
  .company dd{
    padding-left: 57px;
  }
  .company{
    width: auto;
    margin: 0 20px 70px 20px;
    padding: 0;
  }
  .more{
    display: inline;
    /* 縦書き */
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: right;
  }
  .text{
    margin: 0 auto 50px;
    padding: 20px;
    background-color:#f1f6f9;
    color: #4b55a1;
    display: none;
    position: static;
  }
  .text dd{
    padding-left: 100px;
  }
  .border{
    padding: 10px;
  }
  .frame{
    display: none;
  }
  .frame2{
    display: block;
  }
  .box{
    position: static;
  }
  .button{
    position: static;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0px 20px 25px; 
    margin-bottom: 20px;
  }
  .content{
    margin: 30px;
  }
  .title,.member,.advisor{
    margin-left: 20px;
  }
  .advisor{
    margin-top: 60px;
  }
  .box{
    width: 310px;
    margin: 0 auto;
  }
  .bold{
    line-height: 30px;
  }
  .member{
    margin-top: 60px;
  }
  .gray{
    width: 295px;
    margin: 0 auto;
    display: none;
  }
  .zoom{
    width: 295px; 
    height: 478px;
  }
  .zoom img{
    width: 295px; 
    height: 478px;
  }
  .bottom{
  width: auto;
  }

  /* スライドショー横スクロール */
  #slide{
    display: block;
    position:relative;
    overflow:hidden;
    margin: 0 auto;
    height: 620px;
  }

  #slide ul{
    position:absolute;
    width:300%;/* 3つの幅 */
    display: flex;
  }

  #slide li{
    width:33.33333%;
    list-style-type:none;
    padding: 0 4%;
    box-sizing: border-box;
  }

  button{
    opacity:.6;
    transition:opacity .2s;
    border:none;
    background:none;
  }

  button:focus{
    outline:none;
  }

  button:hover{
    opacity:1;
  }

  #prevBtn{
    position:absolute;
    top:225px;
    left:20px;
  }

  #nextBtn{
    position:absolute;
    top:225px;
    right:20px;
  }
}


