h3 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.gridContainer {
  column-count: 3;
  column-gap: 30px;
}

.grid {
  display: inline-block;
  padding-top: 20px;
  background-color: #f1f6f9;
  margin-bottom: 30px;

  opacity: 0;
  visibility: hidden;
  transition: 1500ms;
  transform: translateY(50px);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#photo img {
  width: 100%;
}

figcaption {
  font-size: 0.9em;
  background-color: #f1f6f9;
  color: #ec6156;
  text-align: center;
  padding: 15px;
}

.sp {
  display: none;
}

@media screen and (max-width: 786px) {
  h3 {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 3vh;
  }

  .gridContainer {
    column-count: 1;
  }

  .sp {
    display: block;
  }
} ;
